{% extends "shop/basepage.html" %}
{% load static %}
<!-- don't format the document..it will cause problem with the if block -->
{% block title %}
ShopFromMe - sign up
{% endblock %}

{% block content %}
<!--Here instead of using forms.fields, the input elements are manually hardcoded with excatly the same attributes of the corresponding 
form.fields. This id done to add bootstrap class to the elements. The form data can be directly read as if from a django generated form, since 
same attributes are used here also-->
<div class="container py-4">
    <div class="row justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-6">
            <!-- Form -->
            <form class="form-example" action="" method="POST">

                {% csrf_token %}

                <div class="text-center py-4">
                    <h1 style="margin: 0 auto;">Sign Up</h1>
                </div>

                <!-- Input fields -->

                <div class="form-group">
                    <label for="id_username">Username:</label>
                    <input id="id_username" name="username" type="text" maxlength="150" autofocus required
                        class="form-control" {% if form.username.value %} value="{{ form.username.value }}" {% endif %}>
                </div>

                <div class="form-group">
                    <label for="id_email">Email address:</label>
                    <input id="id_email" name="email" type="email" maxlength="254" required 
                    class="form-control" {% if form.email.value %} value="{{form.email.value}}" {% endif %}>
                </div>

                <div class="form-group">
                    <label for="id_password1">Password:</label>
                    <input id="id_password1" name="password1" type="password" autocomplete="new-password" required
                        class="form-control">
                </div>

                <div class="form-group">
                    <label for="id_password2">Confirm Password:</label>
                    <input id="id_password2" name="password2" type="password" autocomplete="new-password" required
                        class="form-control">
                </div>

                <!-- checking if any error is present and displaying only the error 'messages' not the headings. It is displayed as list -->
                {% if form.errors.values %}
                <div class="alert alert-warning">
                    {% for e in form.errors.values %}
                        {{ e }}
                    {% endfor %}
                </div>
                {% endif %}

                <div class="text-center py-2">
                    <button type="submit" class="btn btn-primary btn-customized">Create Account</button>
                </div>
                <!-- End input fields -->

            </form>
            <!-- Form end -->
        </div>
    </div>
</div>

{% endblock content %}